*{
    margin: 0px;
    padding: 0px;
    }

.login {
    padding-top: 150px;
    /* border: 1px solid red; */
    height: 100%;
    overflow: hidden;
    background-image: url(./img/1.jpg)

}

.login > .title{
    text-align: center;
    position: relative;
}
.form{
    height: 100px;
    width: 24%; 
    text-align: center;
    margin: 0 auto;
}
